.container {
  /* min-height: 100vh; */
  display: flex;
}

.container section {
  width: 80%;
  margin-right: 1rem;
}

.container aside {
  width: 20%;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 80px;
  height: 250px;
}
